.link {
  text-decoration: none;
}

.course-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: #1e293b;
  font-weight: 500;
  width: 200px;
  margin-bottom: 15px;
}

.name {
  margin-left: 10px;
  font-size: 20px;
}
